{% extends "admin/change_list.html" %}

{% block object-tools-items %}
  <li>
    <a href="{% url 'admin:eurorace_taskphoto_gallery' %}" class="viewsitelink">Galeria zdjęć</a>
  </li>
  {{ block.super }}
{% endblock %}

{% block content %}
  {% include "admin/eurorace/includes/guide_styles.html" %}
  <div class="eurorace-guide">
    <h2>Zdjęcia z zadań</h2>
    <p>
      Ten widok tabelaryczny jest przydatny do szybkiego wyszukiwania pojedynczych wpisów.
      Do przeglądania i pobierania zdjęć użyj <a href="{% url 'admin:eurorace_taskphoto_gallery' %}">galerii zdjęć zadań</a>.
    </p>
  </div>
  {{ block.super }}
{% endblock %}
